* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.sticky-section {
  overflow: hidden;
  background-color: #1a3a4d;
  width: 100%;
  color: white;
  position: sticky;
  top: 0px;
}

nav a {
  float: right;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  height: 70px;
  padding: 20px 30px;
  transition: all 0.5s ease 0s;
}

nav a:hover {
  background-color: #002e5b;
  color: wheat;
}

.github {
  display: flex;
  justify-content: space-evenly;
  float: left;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.github img {
  height: 45px;
  width: 55px;
  border-radius: 5px;
  margin-left: 1rem;
}

/* Home */

.main {
  background-image: url("./images/R.jpeg");
  height: 95vh;
  width: 100vw;
  color: antiquewhite;
}

.first {
  margin: 0 auto;
  padding-top: 8%;
  width: 400px;
  height: 200px;
  font-family: cursive;
}

.first-a {
  font-size: 5rem;
  color: blueviolet;
}

.first-b {
  font-size: 3rem;
  color: azure;
}

.first-c {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: rgb(211, 236, 236);
  border-bottom: 4px solid blueviolet;
}

.second {
  text-align: center;
  margin-top: 10%;
  font-size: 1.5rem;
  color: rgb(0, 255, 0);
  font-weight: bold;
  letter-spacing: 2px;
}

.myButton {
	background-color:#e43a2a;
	border-radius:4px;
  color: white;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:25px;
  border: 2px solid white;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
  margin-left: 55%;
  margin-top: 18%;
  box-shadow: 4px 3px 8px 1px #9b2525;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}




/* Intro */

.intro {
  display: flex;
  background-color: #1d2727;
  color: #48bbb5;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
}

.intro-head {
  font-size: 3rem;
  text-decoration: underline;
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #bbe7e5;
}

.intro-text {
  background-color: transparent;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 6rem;
  padding-top: 3rem;
}

.intro img {
  height: 45rem;
  width: 35rem;
  margin: 2rem;
  border: 2px solid blue;
  border-radius: 10px;
}

/* Skills */

.skills {
  background-color: rgba(130, 204, 185, 0.8);
  font-family: "Roboto Slab", serif;
  padding: 4rem 0;
}

.skills-text {
  display: flex;
}

.skills-heading {
  text-align: center;
  font-size: 4rem;
  padding-top: 1rem;
  text-decoration: underline;
}

.skill-card {
  margin: 2rem;
  background-color: salmon;
  height: 350px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 5px 4px 8px 1px #746f6f;
}

.skill-name {
  font-size: 3rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

ul {
  list-style-position: inside;
}

li {
  font-size: 2rem;
  padding-left: 2rem;
}

/* Projects */

.projects {
  font-family: "Roboto Slab", serif;
  background-color: #30475e;
}

.projects-heading {
  font-size: 4rem;
  text-decoration: underline;
  color: #dcf1f0;
  padding-top: 4rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 4rem 3rem;
}
.grid-item {
  background-color: rgba(152, 226, 208, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  height: 15rem;
  margin: 1rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 4px 8px 1px #95c0c0;
}

.project-name {
  color: #0a1931;
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem auto;
}

.project-desc {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 8%;
  margin-right: 8%;
}

/* contact */

.contact {
  background-color: black;
}

.contact h2 {
  padding-top: 2rem;
  color: rgb(211, 143, 202);
  text-align: center;
  font-size: 3rem;
}

form {
  max-width: 420px;
  margin: 0 auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
