body.light{
    --theme-color:#6610f2;
    --theme-trans:#cbaaff50;
    --btn-col:#fff;
    --color:#000;
    --bg-wood:url(images/bg-light.jpeg);
    --bord:#efefef;
}
body.dark{
    --theme-color:#6200ff;
    --theme-trans:#4a3d5e50;
    --btn-col:rgb(255, 255, 255);
    --color:rgb(255, 255, 255);
    --bg-wood:url(images/bg-dark.jpeg);
    --bord:#c5c5c5;
    --bd-bg:#151525;
}
*:not(.start * , nav *, nav, start,.icon *,[data-skill],[data-project],[data-skill] *,[data-project] *){
    color:var(--color);
    background-color: var(--bd-bg);
}
*:not(code){
    font-family: 'Poppins', sans-serif;
}
html,body{
    padding: 0;
    margin: 0;
}
nav [data-btn]{
    display: none;
}
div.vert-mid{
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
}
div.vert-mid a{
    margin: auto;
}
.gradient-text {
    background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
@media(max-width: 670px)  {
    nav [data-btn]{
        display: block;
        margin: 2px;
    }
    div#links{
        transition: 0.2s;
        position: fixed;
        top: 30px;
        left: -130vw;
        display: grid;
        border-top:1px solid var(--color) ;
        background: #00000050;
    }
    div#links a{
        width: 100vw;
        height: 30px;
        display: inline-flex;
        vertical-align: middle;
        text-align: center;
        background: #00000050;
    }
    div#links a span{
        margin: auto;
        background-color: transparent;
    }
    
}
.btn{
    transition: 0.5s;
    padding: 5px;
    border-radius: 2px;
    border: 2px solid var(--theme-trans);
    box-shadow:5px 5px 0 0 var(--theme-color),1px 1px 8px 4px var(--theme-trans) inset ;
}
.profile{
    transition: 0.3s;
    box-shadow:-35px 25px 0 0 var(--theme-color);
}
.btn:hover,.profile:hover{
    box-shadow: 0 0 0 2px var(--theme-color);
}
.pos-fix{
    position: fixed;
}
nav,nav *,.btn{
    color: var(--btn-col);  
    background: var(--theme-color);
    text-decoration: none;
}
nav{
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    height: 30px;
    vertical-align: middle;
    padding: 0;
}
nav div{
    display: inline-flex;
    vertical-align: middle;
    padding: 0;
}
nav div a{
    margin: auto;
    margin-right: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: auto;
}
::-webkit-scrollbar{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #6610f220;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
.start{
 text-align: center;
 padding-top:20px ;
 background-image: var(--bg-wood);
 background-size: 100vw;
 background-position: center;
}
.start *{
    margin-top: 25px;
}
div.icon{
    display: flex;
    height: 30px;
}
div.icon img{
    height: 30px;
}
.card{
    width: calc(100vw - 80px);
    margin: 25px;
    border:1px solid var(--bord);
    padding: 15px;
    overflow: scroll;
}
[data-scroll] {
    transition: opacity 1s;
}
[data-scroll="in"] {
    opacity: 1;
}
[data-scroll="out"] {
    opacity: 0;
}
[data-projects-inside],[data-skills-inside]{
 display: flex;
 overflow-y: scroll;
 width: 1000px;
}
[data-project],[data-skill]{
    transition:0.5s;
    padding: 10px;
    width: 300px;
    background-color: var(--theme-trans);
    border: 12px;
    border:1px solid var(--theme-color); 
    margin:5px;
    box-shadow:5px 5px 0 var(--theme-color);
}
[data-project]:hover,[data-skill]:hover{
  box-shadow:none;
  background:var(--theme-color);
  color:var(--btn-col);
}
.cntme{
    display: flex;
}
.cntme div[data-opts]{
    margin: auto;
}
.cntme div[data-opts] .btn{
    margin: 10px;
}
input[type=submit]{
    margin: auto;
}
.icon{
    background-color: #fff;
    padding: 5px;
}
