* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  /* background-color: #746f6f; */
  background-color: #916BBF;
}

/* navbar */
.sticky-section {
  overflow: hidden;
  /* background-color: #1a3a4d; */
  background-color: #030303;
  width: 100%;
  color: white;
  position: sticky;
  top: 0px;
}

nav a {
  float: right;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  height: 70px;
  padding: 20px 30px;
  transition: all 0.5s ease 0s;
  /* border-radius: 10px;
  border: 1px solid white; */
}

nav a:hover {
  /* background-color: #002e5b; */
  background-color: #6920AE;
  color: wheat;
}

.github {
  display: flex;
  justify-content: space-evenly;
  float: left;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.github img {
  height: 45px;
  width: 55px;
  border-radius: 5px;
  margin-left: 1rem;
}

/* Home */

.main {
  background-image: url("./images/R.jpeg");
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-bottom: 15px solid #3B1262;
}

.first {
  margin: 0 auto;    
  font-family: cursive;
  margin-top: 10rem;
}

.first-a {
  font-size: 5rem;
  color: blueviolet;
}

.first-b {
  font-size: 3rem;
  color: azure;
}

.first-c {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: rgb(211, 236, 236);
  border-bottom: 4px solid blueviolet;
}

.second {
  text-align: center;
  margin-top: 8rem;
  font-size: 1.5rem;
  color: rgb(0, 255, 0);
  font-weight: bold;
  letter-spacing: 2px;
}


.myButton {
  font-family: "Roboto Slab", serif;
  display: inline;
  text-align: center;
	background-color:#d82d17;
	border-radius:10px;
	cursor:pointer;
	font-size:25px;
  border: 2px solid white;
	padding:10px 20px;
  box-shadow: 4px 3px 8px 1px #9b2525;
}

.myButton a{
  color: white;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}



/* Intro */

.intro {
  display: flex;
  /* background-color: #342038; */
  background-color: #3B1262;
  color: #d8d5c5;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
  margin: 5rem 15rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

.intro-head {
  font-size: 2rem;
  text-decoration: underline;
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #bbe7e5;
}

.intro-text {
  background-color: transparent;
  letter-spacing: 1.2px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 6rem;
  padding-top: 3rem;
}

.intro img {
  height: 40rem;
  width: 35rem;
  margin: 2rem;
  border: 2px solid #BBE7E5;
  border-radius: 10px;
}

/* Skills */

.skills {
  /* background-color: #a53b31; */
  background-color: #3B1262;
  font-family: "Roboto Slab", serif;
  padding: 4rem 0;
}

.skills-text {
  display: flex;
}

.skills-heading {
  color: #DBCBBD;
  text-align: center;
  font-size: 3.2rem;
  padding-top: 1rem;
  text-decoration: underline;
}

.skill-card {
  margin: 2rem;
  /* background-color: #79762f; */
  background-color: #7C5BA3;
  color: #fae1e1;
  min-height: 350px;
  width: 400px;
  border-radius: 15px;
  /* box-shadow: 5px 4px 8px 1px #92923d; */
}

.skill-card:hover{
  position: relative;
  bottom: 7px;
  left: 5px;
  /* box-shadow: 5px 8px 8px 1px #DBCBBD; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

.skill-name {
  font-size: 2.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

ul {
  list-style-position: inside;
}

li {
  font-size: 2rem;
  padding-left: 2rem;
}

/* Projects */

.projects {
  font-family: "Roboto Slab", serif;
  background-color:black ;
}

.projects-heading {
  font-size: 3.5rem;
  text-decoration: underline;
  color: #e6d5d5;
  padding-top: 4rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 4rem 3rem;
}





.grid-item {
  letter-spacing: 1.1px;
  /* background-color: #222c31; */
  background-color: #3B1262;
  border: 2px solid rgba(0, 0, 0, 0.8);
  min-height: 15rem;
  margin: 1rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 4px 8px 1px #263131;
}

.grid-item:hover{
  position: relative;
  bottom: 7px;
  left: 5px;
  box-shadow: 15px 10px 8px 1px #263131;
}

.project-name {
  color: #c06448;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem auto;
}

.project-desc {
  color: #fffffff1;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 8%;
  margin-right: 8%;
}

/* contact */

.contact {
  background-color: black;
}

.contact h2 {
  padding-top: 2rem;
  color: rgb(211, 143, 202);
  text-align: center;
  font-size: 3rem;
}

form {
  max-width: 420px;
  margin: 0 auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}


@media only screen and (max-width: 1536px){
  .myButton{
    margin-top: 300px;
  }

  .second {
    margin-top: 100px;
  }

  .skill-3 {
    font-size: 28px;
  }

  .project-1 {
    font-size: 30px;
  }
  
  .intro {
    margin: 90px ;
  }
}